html,body{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    h2,from{
      margin: 0;
      padding: 0;
    }

    .fl{
      float: left;
    }
    .fr{
      float: right;
    }

    .login{
      width: 100%;
      height: 100%;
    }
    .header{
      width: 100%;
      height: 8.5%;
    }
    .top{
      height: 80px;
      width: 63%;
      line-height: 80px;
      margin: 0 auto;
    }
    .top li{
      list-style: none;
      float: left;
    }
  /*中间登录部分*/
  .center{
    width: 100%;
    height: 80%;
    background:url(loginbg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;

  }

  .footer{
    height: 6.5%;
    line-height: 60px;
    text-align: center;
  }
